<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/PESCII</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>databasePassword</param-name>
        <param-value/>
    </context-param>
    
    
    <!-- Servlets   -->
    
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>Servlets.logInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet</servlet-name>
        <servlet-class>Servlets.createAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>Servlets.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInvoiceServlet</servlet-name>
        <servlet-class>Servlets.addInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>Servlets.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>Servlets.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromCartServlet</servlet-name>
        <servlet-class>Servlets.removeFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClinicServlet</servlet-name>
        <servlet-class>Servlets.addClinicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSalesRepServlet</servlet-name>
        <servlet-class>Servlets.addSalesRepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSupplierServlet</servlet-name>
        <servlet-class>Servlets.addSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerServlet</servlet-name>
        <servlet-class>Servlets.getCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInvoiceServlet</servlet-name>
        <servlet-class>Servlets.getInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductServlet</servlet-name>
        <servlet-class>Servlets.getProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRestockOrderServlet</servlet-name>
        <servlet-class>Servlets.getRestockOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAccountServlet</servlet-name>
        <servlet-class>Servlets.getAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getClinicServlet</servlet-name>
        <servlet-class>Servlets.getClinicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUnfinishedServlet</servlet-name>
        <servlet-class>Servlets.getUnfinishedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNewEntryServlet</servlet-name>
        <servlet-class>Servlets.getNewEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSalesRepServlet</servlet-name>
        <servlet-class>Servlets.getSalesRepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProvinceServlet</servlet-name>
        <servlet-class>Servlets.getProvinceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAccountTypeStatusServlet</servlet-name>
        <servlet-class>Servlets.getAccountTypeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductClassServlet</servlet-name>
        <servlet-class>Servlets.getProductClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSupplierServlet</servlet-name>
        <servlet-class>Servlets.getSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInvoiceStatusServlet</servlet-name>
        <servlet-class>Servlets.getInvoiceStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNotifServlet</servlet-name>
        <servlet-class>Servlets.getNotifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCustomerDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewCustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewInvoiceDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewInvoiceDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRODetailsServlet</servlet-name>
        <servlet-class>Servlets.viewRODetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAccountDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewAccountDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSalesRepDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewSalesRepDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSupplierDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewSupplierDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRestockOrderServlet</servlet-name>
        <servlet-class>Servlets.createRestockOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editInvoiceServlet</servlet-name>
        <servlet-class>Servlets.editInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>Servlets.editCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccountServlet</servlet-name>
        <servlet-class>Servlets.editAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRestockOrderServlet</servlet-name>
        <servlet-class>Servlets.editRestockOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editClinicServlet</servlet-name>
        <servlet-class>Servlets.editClinicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSalesRepServlet</servlet-name>
        <servlet-class>Servlets.editSalesRepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>Servlets.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplierServlet</servlet-name>
        <servlet-class>Servlets.editSupplierServlet</servlet-class>
    </servlet>
    
    <!-- Servlet Mapping-->
    
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/Servlets.logInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/Servlets.logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet</servlet-name>
        <url-pattern>/Servlets.createAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/Servlets.addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInvoiceServlet</servlet-name>
        <url-pattern>/invoice.add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/Servlets.addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromCartServlet</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClinicServlet</servlet-name>
        <url-pattern>/customer.addClinic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSalesRepServlet</servlet-name>
        <url-pattern>/salesrep.add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSupplierServlet</servlet-name>
        <url-pattern>/supplier.add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerServlet</servlet-name>
        <url-pattern>/Servlets.getCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInvoiceServlet</servlet-name>
        <url-pattern>/Servlets.getInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductServlet</servlet-name>
        <url-pattern>/Servlets.getProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRestockOrderServlet</servlet-name>
        <url-pattern>/restockOrder.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAccountServlet</servlet-name>
        <url-pattern>/account.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getClinicServlet</servlet-name>
        <url-pattern>/customer.getClinic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUnfinishedServlet</servlet-name>
        <url-pattern>/unfinished.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNewEntryServlet</servlet-name>
        <url-pattern>/new.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSalesRepServlet</servlet-name>
        <url-pattern>/salesrep.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProvinceServlet</servlet-name>
        <url-pattern>/province.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAccountTypeStatusServlet</servlet-name>
        <url-pattern>/account.getTypeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductClassServlet</servlet-name>
        <url-pattern>/product.getProductClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSupplierServlet</servlet-name>
        <url-pattern>/supplier.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInvoiceStatusServlet</servlet-name>
        <url-pattern>/invoice.getStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNotifServlet</servlet-name>
        <url-pattern>/notif.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCustomerDetailsServlet</servlet-name>
        <url-pattern>/Servlets.viewCustomerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewInvoiceDetailsServlet</servlet-name>
        <url-pattern>/Servlets.viewInvoiceDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductDetailsServlet</servlet-name>
        <url-pattern>/product.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRODetailsServlet</servlet-name>
        <url-pattern>/restockOrder.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAccountDetailsServlet</servlet-name>
        <url-pattern>/account.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSalesRepDetailsServlet</servlet-name>
        <url-pattern>/salesrep.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSupplierDetailsServlet</servlet-name>
        <url-pattern>/supplier.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRestockOrderServlet</servlet-name>
        <url-pattern>/Servlets.createRestockOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRestockOrderServlet</servlet-name>
        <url-pattern>/restock.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editInvoiceServlet</servlet-name>
        <url-pattern>/invoice.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/customer.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccountServlet</servlet-name>
        <url-pattern>/account.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editClinicServlet</servlet-name>
        <url-pattern>/customer.editClinic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSalesRepServlet</servlet-name>
        <url-pattern>/salesrep.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/product.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplierServlet</servlet-name>
        <url-pattern>/supplier.edit</url-pattern>
    </servlet-mapping>
    
    
    <!--Filters-->
    
    <filter>
        <filter-name>accountantFilter</filter-name>
        <filter-class>Filters.accountantFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accountantFilter</filter-name>
        <url-pattern>/addInvoice.jsp</url-pattern>
        <url-pattern>/editInvoice.jsp</url-pattern>
        <url-pattern>/getInvoice.jsp</url-pattern>
        <url-pattern>/invoiceDetails.jsp</url-pattern>
        <url-pattern>/getCustomer.jsp</url-pattern>
        <url-pattern>/customerDetails.jsp</url-pattern>
        <url-pattern>/viewCart.jsp</url-pattern>
        <url-pattern>/editAccount.jsp</url-pattern>
        <url-pattern>/getAccount.jsp</url-pattern>
        <url-pattern>/getSalesRep.jsp</url-pattern>
        <url-pattern>/conditionsCustomer.jsp</url-pattern>
        <url-pattern>/conditionsInvoice.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IMFilter</filter-name>
        <filter-class>Filters.IMFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IMFilter</filter-name>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/createRestockOrder.jsp</url-pattern>
        <url-pattern>/editRestockOrder.jsp</url-pattern>
        <url-pattern>/getRestockOrder.jsp</url-pattern>
        <url-pattern>/restockOrderDetails.jsp</url-pattern>
        <url-pattern>/conditionsRestockOrder.jsp</url-pattern>
        <url-pattern>/addSupplier.jsp</url-pattern>
        <url-pattern>/editSupplier.jsp</url-pattern>
        <url-pattern>/getSupplier.jsp</url-pattern>
        <url-pattern>/conditionsSupplier.jsp</url-pattern>
        <url-pattern>/editAccount.jsp</url-pattern>
        <url-pattern>/getAccount.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>secretaryFilter</filter-name>
        <filter-class>Filters.secretaryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>secretaryFilter</filter-name>
        <url-pattern>/addClinic.jsp</url-pattern>
        <url-pattern>/addCustomer.jsp</url-pattern>
        <url-pattern>/addInvoice.jsp</url-pattern>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/addSalesRep.jsp</url-pattern>
        <url-pattern>/addSupplier.jsp</url-pattern>
        <url-pattern>/conditionsAccount.jsp</url-pattern>
        <url-pattern>/conditionsCustomer.jsp</url-pattern>
        <url-pattern>/conditionsInvoice.jsp</url-pattern>
        <!--no filter for conditionsProduct.jsp-->
        <url-pattern>/conditionsRestockOrder.jsp</url-pattern>
        <url-pattern>/conditionsSalesRep.jsp</url-pattern>
        <url-pattern>/conditionsSupplier.jsp</url-pattern>
        <url-pattern>/createAccount.jsp</url-pattern>
        <url-pattern>/createRestockOrder.jsp</url-pattern>
        <url-pattern>/customerDetails.jsp</url-pattern>
        <url-pattern>/editAccount.jsp</url-pattern>
        <url-pattern>/editClinic.jsp</url-pattern>
        <url-pattern>/editCustomer.jsp</url-pattern>
        <url-pattern>/editInvoice.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/editRestockOrder.jsp</url-pattern>
        <url-pattern>/editSalesRep.jsp</url-pattern>
        <url-pattern>/editSupplier.jsp</url-pattern>
        <url-pattern>/getAccount.jsp</url-pattern>
        <url-pattern>/getCustomer.jsp</url-pattern>
        <url-pattern>/getInvoice.jsp</url-pattern>
        <!--no filter for getProduct.jsp-->
        <url-pattern>/getRestockOrder.jsp</url-pattern>
        <url-pattern>/getSalesRep.jsp</url-pattern>
        <url-pattern>/getSupplier.jsp</url-pattern>
        <!--no filter for homePage.jsp-->
        <url-pattern>/invoiceDetails.jsp</url-pattern>
        <!--no filter for logIn.jsp-->
        <!--no filter for productDetails.jsp-->
        <url-pattern>/restockOrderDetails.jsp</url-pattern>
        <url-pattern>/supplierDetails.jsp</url-pattern>
        <!--<url-pattern>/viewCart.jsp</url-pattern>-->
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
