<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/PESCII</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>databasePassword</param-name>
        <param-value/>
    </context-param>
    
    <!-- Servlets   -->
    
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>Servlets.logInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccountServlet</servlet-name>
        <servlet-class>Servlets.createAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>Servlets.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInvoiceServlet</servlet-name>
        <servlet-class>Servlets.addInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>Servlets.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>Servlets.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerServlet</servlet-name>
        <servlet-class>Servlets.getCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInvoiceServlet</servlet-name>
        <servlet-class>Servlets.getInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProductServlet</servlet-name>
        <servlet-class>Servlets.getProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRestockOrderServlet</servlet-name>
        <servlet-class>Servlets.getRestockOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCustomerDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewCustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewInvoiceDetailsServlet</servlet-name>
        <servlet-class>Servlets.viewInvoiceDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRODetailsServlet</servlet-name>
        <servlet-class>Servlets.viewRODetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRestockOrderServlet</servlet-name>
        <servlet-class>Servlets.createRestockOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editInvoiceServlet</servlet-name>
        <servlet-class>Servlets.editInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>Servlets.editCustomerServlet</servlet-class>
    </servlet>
    
    <!-- Servlet Mapping-->
    
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/Servlets.logInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/Servlets.logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccountServlet</servlet-name>
        <url-pattern>/Servlets.createAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/Servlets.addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInvoiceServlet</servlet-name>
        <url-pattern>/invoice.add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/Servlets.addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerServlet</servlet-name>
        <url-pattern>/Servlets.getCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInvoiceServlet</servlet-name>
        <url-pattern>/Servlets.getInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProductServlet</servlet-name>
        <url-pattern>/Servlets.getProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRestockOrderServlet</servlet-name>
        <url-pattern>/restockOrder.get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCustomerDetailsServlet</servlet-name>
        <url-pattern>/Servlets.viewCustomerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewInvoiceDetailsServlet</servlet-name>
        <url-pattern>/Servlets.viewInvoiceDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductDetailsServlet</servlet-name>
        <url-pattern>/product.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRODetailsServlet</servlet-name>
        <url-pattern>/restockOrder.getDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRestockOrderServlet</servlet-name>
        <url-pattern>/Servlets.createRestockOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editInvoiceServlet</servlet-name>
        <url-pattern>/invoice.edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/customer.edit</url-pattern>
    </servlet-mapping>
    
    <!--Filters-->
    
    <filter>
        <filter-name>accountantFilter</filter-name>
        <filter-class>Filters.accountantFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accountantFilter</filter-name>
        <url-pattern>/addInvoice.jsp</url-pattern>
        <url-pattern>/editInvoice.jsp</url-pattern>
        <url-pattern>/getInvoice.jsp</url-pattern>
        <url-pattern>/getCustomer.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>secretaryFilter</filter-name>
        <filter-class>Filters.secretaryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>secretaryFilter</filter-name>
        <url-pattern>/addCustomer.jsp</url-pattern>
        <url-pattern>/editCustomer.jsp</url-pattern>
        <url-pattern>/getCustomer.jsp</url-pattern>
        <url-pattern>/getInvoice.jsp</url-pattern>
        <url-pattern>/createAccount.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IMFilter</filter-name>
        <filter-class>Filters.IMFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IMFilter</filter-name>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/editProduct</url-pattern>
        <url-pattern>/createRestockOrder.jsp</url-pattern>
        <url-pattern>/editRestockOrder.jsp</url-pattern>
        <url-pattern>/getRestockOrder.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
