/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 27, 17, 8:52:48 PM
    Author     : Sydney Cruz
*/

/**
 * Footer CSS
 */
#footer {
  background-color: #fff;
  color: #1b6d85;
}
